.galleryProdDetailsWrap{
  display: flex;
  justify-content: center;
  gap: 0;
  padding-top: 20px;
}

#gallery{
  display: flex;
  flex-grow: 5;
  justify-content: center;
}

#productDetails{
  display: flex;
  flex-grow: 2;
}

.reviewsRecWrap{
  padding: 20px 0;
}

.recommendationWrap{
  padding: 0 5%;
}